@import './root.css';

.header {
    background: var(--secundaryColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    padding: 0.5rem;
}

.logo img {
    width: 100%;
}

.menu {
    display: flex;
}

.menu .menuLink {
    margin: 10px;
    color: var(--primaryColor);
    text-decoration: none;
}

.menu .menuLink:hover {
    border-bottom: 1px solid var(--primaryColor);
}