:root{
    --primaryColor: rgb(232,231,1) ;
    --secundaryColor: rgb(33,37,41);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--secundaryColor);
    background: #f2f2f2;
}

header, footer {
    background: var(--secundaryColor)
}

header .logo {
    max-width: 120px;
}

header .logo img {
    width: 100%;
}

.textoPrimario {
    color: var(--primaryColor)
}

.nav-link:hover {
    color: rgba(232,231,1,0.6);
}

main {
    max-width: 1200px;
}

.primario {
    background: var(--primaryColor);
    font-weight: 700;
}

.primario:hover {
    background: var(--secundaryColor);
    color: var(--primaryColor);
    font-weight: 700;
}

.face {
    background: #1877f2;
    color: #fff;
    font-weight: 700;
}

.face:hover {
    background: var(--secundaryColor);
    color: #1877f2;
    font-weight: 700;
}
.insta {
    background: #c13584;
    color: #fff;
    font-weight: 700;
}

.insta:hover {
    background: var(--secundaryColor);
    color: #c13584;
    font-weight: 700;
}
.whats {
    background: #25d366;
    color: #fff;
    font-weight: 700;
}

.whats:hover {
    background: var(--secundaryColor);
    color: #25d366;
    font-weight: 700;
}